.articol-card {
    // border: 2px solid green;
    
    padding: 12px;
    
    &-inner{
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 12px;

        h3 {
            font-weight: bold;
            flex-grow: 1;
        }

        img {
            width: 100%;
        }
        p{
            flex-grow: 1;

        }

    }

}