.show{
    .articol {
        background-color: white;
        padding: 12px;
        border-radius: 10px;

        .card-title {
            text-align: center;
        }
        
        p {
            font-size:18px;
        }
        img{
            width: 100%;
        }

        .after-articol {
            display: flex;
            justify-content: space-between;

            span {
                font-size: 15px;
            }
        }
        
        button {
            a {
                color: inherit;
                &:hover {
                    text-decoration: none;
                } 
            }
        }
        .interactions-container {
            display: flex;
            justify-content: space-evenly;
        }
    }
}