// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'header';
@import 'home';
@import 'show';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

textarea {
    width: 100%;
}

body {
    background-color: lightgreen;
}

.container-custom {
    background-color: white;
    border-radius: 10px;
}
a{
    color: inherit;
    &:hover {
        color: green;
    }
}

.reset-padding-container {
    padding-left: 0;
    padding-right: 0;
}